<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>CATEGORY_ALIMENTOS</key>
	<string>$(CATEGORY_ALIMENTOS)</string>
	<key>CATEGORY_BELLEZA_SALUD</key>
	<string>$(CATEGORY_BELLEZA_SALUD)</string>
	<key>CATEGORY_EDUCACION</key>
	<string>$(CATEGORY_EDUCACION)</string>
	<key>CATEGORY_ENTRETENIMIENTO</key>
	<string>$(CATEGORY_ENTRETENIMIENTO)</string>
	<key>CATEGORY_MODA_HOGAR</key>
	<string>$(CATEGORY_MODA_HOGAR)</string>
	<key>CATEGORY_SERVICIOS</key>
	<string>$(CATEGORY_SERVICIOS)</string>
	<key>CATEGORY_TURISMO</key>
	<string>$(CATEGORY_TURISMO)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(BUNDLE_ID)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SegurosRecompensa$(NAME_SUFFIX)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>DESCLUB_CORPORATE</key>
	<string>$(DESCLUB_CORPORATE)</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>914814ff4386621c41af847bed3381a41419664b</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Esta app usa tu ubicación para mostrarte los descuentos más cercanos</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
